#loading-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1;
}
#loading {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 2;
}
#loading SPAN {
  background: url('img/loader.gif') no-repeat left center;
  padding: 5px 30px;
  display: block;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 12px;
}

.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.search-item td {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding : 0px 3px 0px 3px;
}
.displayLink {
  color : #0E774A;
}

div.olControlMousePosition {
  font : 11px/13px tahoma,helvetica,sans-serif !important;
  background-image : url('img/semiClear.png');
  right : 0px !important;
  bottom : 20px !important;
  padding : 2px;
  width : 175px !important;
  text-align : center !important;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.x-grid3-row td, .x-grid3-summary-row td {
  vertical-align : middle;
}

.popup {
  background : white;
  padding    : 6px;
  text-align : justify;
}

.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio {
  margin-top : 0px;
}

.olControlNavigationItemInactive {
  visibility : hidden !important;
  position : absolute;
  left : -200;
}
.olControlNavigationItemActive {
  visibility : hidden !important;
  position : absolute;
  left : -200;
}
.olControlNavToolbar {
  top : 100px !important;
}
.olControlNavToolbar .olControlZoomBoxItemInactive {
  background-position: -128px -1px !important;
  background-image: url("img/editing_tool_bar.png") !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  height: 22px !important;
  margin: 0 0 5px 8px !important;
  width: 24px !important;
  position : absolute;
  top : 25px;
}
.olControlNavToolbar .olControlZoomBoxItemActive {
  background-position: -128px -24px !important;
  background-image: url("img/editing_tool_bar.png") !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  height: 22px !important;
  margin: 0 0 5px 8px !important;
  width: 24px !important;
  position : absolute;
  top : 25px;
}

#cacheResultsHeader td {
  padding : 0px 2px 0px 0px;
}

#initAlert {
  font:normal 11px tahoma, arial, helvetica, sans-serif;
  padding : 3;
}
#initAlert td {
  padding : 3;
}

#sliderTics {
  padding-left : 36px;
}

#sliderTicsTable {
  width : 100%;
  padding : 0;
}

#sliderTicsTable td {
  text-align : center;
}

.fillSolid {
  border-left : 1px solid #6F94D2;
  border-right : 1px solid #6F94D2;
}
