<table id="wms_servers"></table>

<script type="text/javascript">

  $(document).ready(function() {
	  /* Init DataTables */
	  var oTable = $('#wms_servers').dataTable( {
  	  "bJQueryUI": true,
	    "bProcessing": true,
	    "bServerSide": true,
	    "sPaginationType": "full_numbers",
      "sAjaxSource": "/admin/wms/populate.dataTable",
      "aoColumns": [
        { "sTitle": "Name", "sName": "name", "mDataProp": "name" },
        { "sTitle": "Title", "sName": "title", "mDataProp": "title" },
        { "sTitle": "GetCap URL", "sName": "url", "mDataProp": "url" },
        { "sTitle": "Keywords", "sName": "keywords", "mDataProp": "keywords" },
        { "sTitle": "Tags", "sName": "tags", "mDataProp": "tags" },
        { "sTitle": "Last Scanned", "sName": "scanned", "mDataProp": "scanned" }
      ]
	  });
  });
</script>
