<!DOCTYPE html>
<html>
<head>
  <title>OGC-Search V2 - ADMIN</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :admin %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
